/* .weather-display {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3), 0 0 1rem rgba(0, 0, 0, 0.7);
    padding: 1rem;
    position: relative;

    width: 100%;
    max-width: 24rem;
    margin: 0 auto;

    transition: all 0.3s;
    opacity: 1;
}

.weather-display.masking {
    opacity: 0;
}

.weather-display .description {
    position: absolute;
    margin: 0 auto;
    top: 2rem;
    right: 2rem;
    text-transform: capitalize;
    opacity: 0.7;
}

.weather-display .temp {
    position: absolute;
    margin: 0 auto;
    bottom: 2rem;
    left: 2rem;
}

.weather-display img {
    display: block;
    width: 100%;
    max-width: 20rem;
    margin: 0 auto; */
/* } */
.clock{
    margin-left:25rem;
    width:40rem;
    height:20rem;
    display: inline-block;
    block-size: 20rem;
}
.time{
    font-size: 3rem;
    margin-left:33rem;
}
.pm{
    margin-left:13rem;
}