.Timer{
    font-size: 3rem;
    width:20rem;
    height:3rem;
    /* display: inline-block; */
    margin-left: 40%;
}

.button{
    font-size: 2rem;
    width:20rem;
    height:3rem;
    display: inline-block;
    margin-top: 2.5rem;
    margin-left: 37%;
}