.weather-form {
    text-align: center;
}

.weather-form input {
    margin-top: 0.25rem;
    width: 12rem;
}

.weather-form button {
    margin-top: 0.25rem;
}
.con{
    font-size: 3rem;
    
    margin-left: 33rem;
    margin-top: 5rem;
}
.pause{
    height:3rem;
    width:3rem;
    margin-left:42rem;
}